<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wyait.manage2.other.mapper.StatisticsMapper">


    <select id="getTurnoverExportCostProfit" resultType="java.util.Map" parameterType="java.util.Map">

      select ifnull(a.turnOver,0) as turnOver ,ifnull(a.exportAmount,0) as exportAmount, ifnull(a.profit,0) as profit from (
        select
  (select sum(ifnull(total,0)) from form_buying_contract where 1= 1
   <if test="deptId != null">
      and dept_id = #{deptId}
   </if>

    <if test="startDate != null">
       and unix_timestamp( sign_date )  <![CDATA[>=]]>  unix_timestamp(#{startDate})
    </if>

    <if test="endDate != null">
      and  unix_timestamp( sign_date ) <![CDATA[<=]]> unix_timestamp(#{endDate})
    </if>
  ) as turnOver,
  (select sum(ifnull(total_price,0)) from  form_selling_contract where 1=1
        <if test="deptId != null">
            and dept_id = #{deptId}
        </if>

        <if test="startDate != null">
           and unix_timestamp( sign_date )  <![CDATA[>=]]>  unix_timestamp(#{startDate})
        </if>

        <if test="endDate != null">
          and  unix_timestamp( sign_date ) <![CDATA[<=]]> unix_timestamp(#{endDate})
        </if>

        ) as exportAmount,
   (select sum(ifnull(net_profit,0)) from settlement_list where 1=1

        <if test="deptId != null">
            and dept_id = #{deptId}
        </if>

        <if test="startDate != null">
         and   unix_timestamp( settle_date )  <![CDATA[>=]]>  unix_timestamp(#{startDate})
        </if>

        <if test="endDate != null">
          and  unix_timestamp( settle_date ) <![CDATA[<=]]> unix_timestamp(#{endDate})
        </if>

        ) as  profit
from dual ) a
    </select>

    <select id="getTurnOverExportAmountProfit" parameterType="java.util.Map" resultType="java.util.Map">

        SELECT
        a.deptId, a.deptName, a.turnOver, b.exportAmount, c.profit
        FROM
        (SELECT
        deptId, deptName, SUM(IFNULL(turnOver, 0)) AS turnOver
        FROM
        (SELECT
        d.id AS deptId, d.name AS deptName, b.total AS turnOver
        FROM
        department d
        LEFT JOIN (SELECT
        *
        FROM
        form_buying_contract
        WHERE
        1 = 1
        <if test="startDate != null">
            and unix_timestamp( sign_date )  <![CDATA[>=]]>  unix_timestamp(#{startDate})
        </if>

        <if test="endDate != null">
            and  unix_timestamp( sign_date ) <![CDATA[<=]]> unix_timestamp(#{endDate})
        </if>

        ) b ON b.dept_id = d.id) a
        GROUP BY deptId) a
        INNER JOIN
        (SELECT
        deptId,
        deptName,
        SUM(IFNULL(exportAmount, 0)) AS exportAmount
        FROM
        (SELECT
        d.id AS deptId,
        d.name AS deptName,
        b.total_price AS exportAmount
        FROM
        department d
        LEFT JOIN (SELECT
        *
        FROM
        form_selling_contract
        WHERE
        1 = 1
        <if test="startDate != null">
            and unix_timestamp( sign_date )  <![CDATA[>=]]>  unix_timestamp(#{startDate})
        </if>

        <if test="endDate != null">
            and  unix_timestamp( sign_date ) <![CDATA[<=]]> unix_timestamp(#{endDate})
        </if>

        ) b ON b.dept_id = d.id) a
        GROUP BY deptId) b ON a.deptId = b.deptId
        INNER JOIN
        (SELECT
        deptId, deptName, SUM(IFNULL(profit, 0)) AS profit
        FROM
        (SELECT
        d.id AS deptId, d.name AS deptName, b.net_profit AS profit
        FROM
        department d
        LEFT JOIN (SELECT
        *
        FROM
        settlement_list
        WHERE
        1 = 1

        <if test="startDate != null">
            and unix_timestamp( settle_date )  <![CDATA[>=]]>  unix_timestamp(#{startDate})
        </if>

        <if test="endDate != null">
            and  unix_timestamp( settle_date ) <![CDATA[<=]]> unix_timestamp(#{endDate})
        </if>

        ) b ON b.dept_id = d.id) a
        GROUP BY deptId) c ON c.deptId = b.deptId


    </select>


</mapper>
