<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:shiro="http://www.pollix.at/thymeleaf/shiro" xmlns="http://www.w3.org/1999/html">
<head th:include="layout :: htmlhead_(
'/jquery-easyui-1.6.11/themes/default/easyui.css,'
+'/jquery-easyui-1.6.11/themes/default/icon.css,'
+'/jquery-easyui-1.6.11/demo.css'
,
'/jquery-easyui-1.6.11/jquery.min.js,'
+'/jquery-easyui-1.6.11/jquery.easyui.min.js'
)" th:with="title='出口货物明细单'">
</head>



<body class="layui-layout-body">
<div class="layui-layout layui-layout-admin">
    <!--头-->
    <div th:replace="fragments/head :: header"></div>

    <div class="layui-body" style="margin: 1%">
        <fieldset class="layui-elem-field layui-field-title" style="margin-top: 20px;">
            <legend>出口货物明细单</legend>
        </fieldset>
        <form class="layui-form" id="exportGoodsListForm">
            <input type="hidden" name="id" id="id" th:value="${model}?${model.id}:_" />
            <div class="layui-form-item">
                <label class="layui-form-label">出口合同编号</label>
                <div class="layui-input-block">
                    <input type="text" name="sellingContractNo" lay-verify="title" th:value="${model}?${model.sellingContractNo}:_" autocomplete="off" placeholder="请输入编号" class="layui-input">
                </div>
            </div>

            <div class="layui-form-item">
                <label class="layui-form-label">收购合同编号</label>
                <div class="layui-input-block">
                    <input type="text" name="buyingContractNo" lay-verify="title" th:value="${model}?${model.buyingContractNo}:_" autocomplete="off" placeholder="请输入地址" class="layui-input">
                </div>
            </div>

            <div class="layui-form-item">
                <label class="layui-form-label">装运口岸</label>
                <div class="layui-input-inline">
                    <input type="text" name="packingKouAn" id="packingKouAn" lay-verify="title" th:value="${model}?${model.packingKouAn}:_" autocomplete="off" placeholder="" class="layui-input">
                </div>
            </div>

            <div class="layui-form-item">
                <label class="layui-form-label">目的口岸</label>
                <div class="layui-input-inline">
                    <input type="text" name="sendingKouAn" id="sendingKouAn" lay-verify="title" th:value="${model}?${model.sendingKouAn}:_" autocomplete="off" placeholder="" class="layui-input">
                </div>
            </div>

            <div class="layui-form-item">
                <label class="layui-form-label">成交价格</label>
                <div class="layui-input-inline">
                    <input type="text" name="dealPrice" id="dealPrice" lay-verify="title" th:value="${model}?${model.dealPrice}:_" autocomplete="off" placeholder="" class="layui-input">
                </div>
            </div>

            <div class="layui-form-item" style="overflow-x: auto">
                    <table id="dg" class="easyui-datagrid" title="货物明细" style="width:1200px;height:auto"
                           data-options="
                    iconCls: 'icon-edit',
                    singleSelect: true,
                    toolbar: '#tb',
                    url: '/exportgoodslist/genlist',
                    method: 'post',
                    onClickCell: onClickCell,
                    onEndEdit: onEndEdit
                ">
                        <thead>
                        <tr>
                            <th data-options="field:'goodsName',width:80" rowspan="2">品名及规格</th>
                            <th data-options="field:'quantity',width:50" rowspan="2">数量</th>
                            <th data-options="field:'goodsUnit',width:50" rowspan="2">单位</th>
                            <th data-options="field:'sellingPriceUnit',width:50" rowspan="2">币种</th>
                            <th colspan="2">出口销售价格</th>
                            <th data-options="field:'goodsProducer',width:80,editor:'textbox'" rowspan="2">货源厂</th>
                            <th colspan="3">收购价格</th>
                            <th data-options="field:'refundTax',width:100,editor:'textbox'" rowspan="2">可退税额</th>
                            <th data-options="field:'exportCost',width:100,editor:'textbox'" rowspan="2">出口成本</th>
                            <th data-options="field:'refundPercent',width:50,editor:'textbox'" rowspan="2">备注</th>
                            <th data-options="field:'exchangeCost',width:100,editor:'textbox'" rowspan="2">换汇成本</th>
                        </tr>
                        <tr>

                            <th data-options="field:'sellingPrice',width:100,editor:{type:'numberbox',options:{precision:2}}">单价</th>
                            <th data-options="field:'subtotalSellingPrice',width:100,editor:{type:'numberbox',options:{precision:2}}">总价</th>
                            <th data-options="field:'buyingPrice',width:80,editor:{type:'numberbox',options:{precision:2}}">金额</th>
                            <th data-options="field:'taxCost',width:100,editor:{type:'numberbox',options:{precision:2}}">税额</th>
                            <th data-options="field:'subtotalBuyingPrice',width:100,editor:{type:'numberbox',options:{precision:2}}">合计</th>
                        </tr>
                        </thead>
                    </table>

                    <div id="tb" style="height:auto">
                        <a href="javascript:void(0)" class="easyui-linkbutton" data-options="iconCls:'icon-add',plain:true" onclick="append()">增加</a>
                        <a href="javascript:void(0)" class="easyui-linkbutton" data-options="iconCls:'icon-remove',plain:true" onclick="removeit()">删除</a>
                        <a href="javascript:void(0)" class="easyui-linkbutton" data-options="iconCls:'icon-save',plain:true" onclick="accept()">接受</a>
                        <a href="javascript:void(0)" class="easyui-linkbutton" data-options="iconCls:'icon-undo',plain:true" onclick="reject()">拒绝</a>
                        <a href="javascript:void(0)" class="easyui-linkbutton" data-options="iconCls:'icon-search',plain:true" onclick="getChanges()">获取变更记录</a>
                    </div>
            </div>
            <div class="layui-form-item">
                <div class="layui-input-block">
                    <button class="layui-btn" lay-submit="" lay-filter="saveExportGoodsList">立即提交</button>
                </div>
            </div>
        </form>
    </div>

    <script type="text/javascript">
        $(function () {
            $("body").delegate(".datagrid-cell-c1-quantity .textbox-text","change",function() {
                //alert($(this).val());
                var quantity = $(this).val();
                quantity = quantity == '' ? 0: quantity;
                var price = $(this).closest("tr.datagrid-row").find(".datagrid-cell-c1-price .textbox-text").val();
                price = price == '' ? 0: price;
                $(this).closest("tr.datagrid-row").find(".datagrid-cell-c1-totalPrice .textbox-text").val(price * quantity);
                $(this).closest("tr.datagrid-row").find(".datagrid-cell-c1-totalPrice .textbox-value").val(price * quantity);
            });

            $("body").delegate(".datagrid-cell-c1-price .textbox-text","change",function() {
                //alert($(this).val());
                var price = $(this).val();
                price = price == '' ? 0: price;
                var quantity = $(this).closest("tr.datagrid-row").find(".datagrid-cell-c1-quantity .textbox-text").val();
                quantity = quantity == '' ? 0: quantity;
                $(this).closest("tr.datagrid-row").find(".datagrid-cell-c1-totalPrice .textbox-text").val(price * quantity);
                $(this).closest("tr.datagrid-row").find(".datagrid-cell-c1-totalPrice .textbox-value").val(price * quantity);
            });

            $("body").delegate(".datagrid-cell-c1-quantity .textbox-text","change",function() {
                //alert($(this).val());
            });

            $('#dg').datagrid('load', {
                sellingContractId: '[[${param.sellingContractId}]]',
                id:$('#id').val()
            });

        });



        var editIndex = undefined;
        function endEditing(){
            if (editIndex == undefined){return true}
            if ($('#dg').datagrid('validateRow', editIndex)){
                $('#dg').datagrid('endEdit', editIndex);
                editIndex = undefined;
                return true;
            } else {
                return false;
            }
        }
        function onClickCell(index, field){
            if (editIndex != index){
                if (endEditing()){
                    $('#dg').datagrid('selectRow', index)
                        .datagrid('beginEdit', index);
                    var ed = $('#dg').datagrid('getEditor', {index:index,field:field});
                    if (ed){
                        ($(ed.target).data('textbox') ? $(ed.target).textbox('textbox') : $(ed.target)).focus();
                    }
                    editIndex = index;
                } else {
                    setTimeout(function(){
                        $('#dg').datagrid('selectRow', editIndex);
                    },0);
                }
            }
        }
        function onEndEdit(index, row){
            var ed = $(this).datagrid('getEditor', {
                index: index,
                field: 'userId'
            });
            //row.productname = $(ed.target).combobox('getText');
        }
        function append(){
            if (endEditing()){
                $('#dg').datagrid('appendRow',{id:null,goodsName:null,goodsNameEn:null,price:null,goodsUnit:null,quantity:null,totalPrice:null});
                editIndex = $('#dg').datagrid('getRows').length-1;
                $('#dg').datagrid('selectRow', editIndex)
                    .datagrid('beginEdit', editIndex);
                setEditing(editIndex);
            }

        }

        //计算报价小计
        function setEditing(rowIndex){
            var editors = $('#dg').datagrid('getEditors', rowIndex);
            var priceEditor = editors[5];
            var amountEditor = editors[3];
            var costEditor = editors[6];
            priceEditor.target.bind("change", function(){
                calculate();
            });


            amountEditor.target.bind("change", function(){
                calculate();
            });

            function calculate(){
                var cost = (priceEditor.target.val())*(amountEditor.target.val());
                console.log(cost);
                costEditor.target.numberbox("setValue",cost);
            }
        }
        function removeit(){
            if (editIndex == undefined){return}
            $('#dg').datagrid('cancelEdit', editIndex)
                .datagrid('deleteRow', editIndex);
            editIndex = undefined;
        }
        function accept(){
            if (endEditing()){
                $('#dg').datagrid('acceptChanges');
            }
        }
        function reject(){
            $('#dg').datagrid('rejectChanges');
            editIndex = undefined;
        }
        function getChanges(){
            //$('#dg').datagrid('updateRows');
            accept();
            var rows = $('#dg').datagrid('getRows');
            //console.log($('#dg').datagrid('getRows'));
            //console.log(rows);
            //alert(rows.length+' rows are changed!');
            return rows;
        }
    </script>




    <!--底部-->
    <div th:replace="fragments/footer :: footer"></div>
    <script src="../js/dateUtils.js"></script>
    <script src="../js/form/exportgoodslist/create.js"></script>

</div>
</body>
</html>