<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:shiro="http://www.pollix.at/thymeleaf/shiro" xmlns="http://www.w3.org/1999/html">
<head th:include="layout :: htmlhead_(
'/jquery-easyui-1.6.11/themes/default/easyui.css,'
+'/jquery-easyui-1.6.11/themes/icon.css,'
+'/jquery-easyui-1.6.11/demo.css'
,
'/jquery-easyui-1.6.11/jquery.min.js,'
+'/jquery-easyui-1.6.11/jquery.easyui.min.js'
)" th:with="title='出库单'">
</head>

<style>
    .layui-upload-img {
        width: 92px;
        height: 92px;
        margin: 0 10px 10px 0;
    }
    #fileList td {
        border:1px solid #cccccc;
        padding: 2px;

    }
    #fileList tr {
    }
</style>

<body class="layui-layout-body">
<div class="layui-layout layui-layout-admin">
    <!--头-->
    <div th:replace="fragments/head :: header"></div>

    <div class="layui-body" style="margin: 1%">
        <fieldset class="layui-elem-field layui-field-title" style="margin-top: 20px;">
            <legend>进出明细单</legend>
        </fieldset>
        <form class="layui-form" id="formOutboundForm">
            <input type="hidden" name="id" id="id" th:value="${model}?${model.id}:_" />
            <input type="hidden" name="sellingContractId" id="sellingContractId" th:value="${model}?${model.sellingContractId}:_" />
            <input type="hidden" name="code" id="code" th:value="${model}?${model.code}:_" />
            <div class="layui-form-item">
                <label class="layui-form-label">供应商</label>
                <div class="layui-input-block">
                    <input type="text" name="provider" lay-verify="title" autocomplete="off" placeholder="请输入供应商" th:value="${model}?${model.provider}:_"  class="layui-input">
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label">客户</label>
                <div class="layui-input-block">
                    <input type="text" name="customer" lay-verify="title" autocomplete="off" placeholder="请输入客户" th:value="${model}?${model.customer}:_"  class="layui-input">
                </div>
            </div>

            <div class="layui-form-item">
                <label class="layui-form-label">出口合同号</label>
                <div class="layui-input-block">
                    <input type="text" name="code" lay-verify="title" th:value="${model}?${model.code}:_" autocomplete="off" placeholder="请输入编号" class="layui-input">
                </div>
            </div>


            <div class="layui-form-item">
                <label class="layui-form-label">入库日期</label>
                <div class="layui-input-inline">
                    <input type="text" name="inboundDate" id="inboundDate" lay-verify="title" th:value="${model}?${model.inboundDate}:_" autocomplete="off" placeholder="请输入入库日期" class="layui-input">
                </div>

                <label class="layui-form-label">出库日期</label>
                <div class="layui-input-inline">
                    <input type="text" name="outboundDate" id="outboundDate" lay-verify="title" th:value="${model}?${model.outboundDate}:_" autocomplete="off" placeholder="请输入出库日期" class="layui-input">
                </div>
            </div>


            <div class="layui-form-item" th:if="${model}">
                <label class="layui-form-label">图片列表</label>
                <div class="layui-input-block">
                <table id="fileList">
                    <tr>
                        <td>文件名</td>
                        <td>操作</td>
                    </tr>
                    <tr  th:each="file,stat : ${model.attachments}">
                        <td th:text="${file.fileName}"></td>
                        <td><a href="#" th:onclick="|delImg('${file.id}')|">删除</a> <a href="#" th:onclick="|showImg('${file.id}','${file.fileName}')|">查看</a></td>
                    </tr>

                </table>
                </div>
            </div>

            <input type="hidden" value="" id="filePath" name="filePath" />
            <input type="hidden" value="" id="fileName" name="fileName" />

            <div class="layui-form-item">
                <label class="layui-form-label">上传图片</label>
                <div class="layui-input-block">

                    <div class="layui-upload">
                        <button type="button" class="layui-btn" id="test2">多图片上传</button>
                        <blockquote class="layui-elem-quote layui-quote-nm" style="margin-top: 10px;">
                            预览图：
                            <div class="layui-upload-list" id="demo2"></div>
                        </blockquote>
                    </div>
                </div>
            </div>


            <div class="layui-form-item">
                <label class="layui-form-label">货物列表</label>
                <div class="layui-input-inline">
                <table id="dg" class="easyui-datagrid" title="" style="width:700px;height:auto"
                       data-options="
                    iconCls: 'icon-edit',
                    singleSelect: true,
                    toolbar: '#tb',
                    url: '/formoutbound/genlist',
                    method: 'post',
                    onClickCell: onClickCell,
                    onEndEdit: onEndEdit
                ">
                    <thead>
                    <tr>
                        <th data-options="field:'id',width:80,editor:'textbox',hidden:true">id</th>
                        <th data-options="field:'goodsName',width:100,editor:'textbox'">商品名称</th>
                        <th data-options="field:'quantity',width:100,editor:'textbox'">数量</th>
                        <th data-options="field:'packageQuantity',width:100,editor:{type:'numberbox',options:{precision:2}}">箱数</th>
                    </tr>
                    </thead>
                </table>

                    <div id="tb" style="height:auto">
                        <a href="javascript:void(0)" class="easyui-linkbutton" data-options="iconCls:'icon-add',plain:true" onclick="append()">增加</a>
                        <a href="javascript:void(0)" class="easyui-linkbutton" data-options="iconCls:'icon-remove',plain:true" onclick="removeit()">删除</a>
                        <!--<a href="javascript:void(0)" class="easyui-linkbutton" data-options="iconCls:'icon-save',plain:true" onclick="accept()">接受</a>
                        <a href="javascript:void(0)" class="easyui-linkbutton" data-options="iconCls:'icon-undo',plain:true" onclick="reject()">拒绝</a>
                        <a href="javascript:void(0)" class="easyui-linkbutton" data-options="iconCls:'icon-search',plain:true" onclick="getChanges()">获取变更记录</a>-->
                    </div>
                </div>
            </div>




            <div class="layui-form-item">
                <div class="layui-input-block">
                    <button class="layui-btn" lay-submit="" lay-filter="saveFormOutbound">立即提交</button>
                </div>
            </div>
        </form>
    </div>

    <script type="text/javascript">
        $(function () {


            $('#dg').datagrid('load', {
                sellingContractId: '[[${param.sellingContractId}]]',
                id:$('#id').val()

            });
            layui.use('upload', function() {
                var $ = layui.jquery
                    , upload = layui.upload;
                //多图片上传
                upload.render({
                    elem: '#test2'
                    , url: '/file/upload/'
                    , multiple: true
                    , before: function (obj) {
                        //预读本地文件示例，不支持ie8
                        obj.preview(function (index, file, result) {
                            $('#demo2').append('<img src="' + result + '" alt="' + file.name + '" class="layui-upload-img">');

                        });
                    }
                    , done: function (res) {
                        //上传完毕
                        console.log(res);
                        if(res.data != null && res.data.length > 0) {
                            var path = res.data[0].filePath;
                            var fileName = res.data[0].fileName;
                            var oldPath = $('#filePath').val();
                            var oldFileName = $('#fileName').val();

                            if(oldPath == null || oldPath.length == 0) {
                                $('#filePath').val(path);
                            } else {
                                $('#filePath').val(oldPath+","+path);
                            }



                            if(oldFileName == null || oldFileName.length == 0) {
                                $('#fileName').val(fileName);
                            } else {
                                $('#fileName').val(oldFileName+","+fileName);
                            }
                        }
                    }
                });
            });


        });

        function showImg(fileId,fileName) {
           // window.location.href = "/file/showImg?fileId="+fileId;
            var imgUrl = '[[${#request.scheme}]]' + '://'
                +'[[${#request.serverName}]]' + ":"
                +'[[${#request.serverPort}]]' + '/'
                + '[[${#request.contextPath}]]'
                + "/file/showImg?fileId="+fileId;
            layer.open({
                title:fileName,
                type: 2,
                content: imgUrl,
                area:['800px','600px']

            });
        }

        function delImg(fileId) {
            $.ajax({
                "url": "/file/delImg?fileId="+fileId,
                "type": "post",
                "contentType": "application/json",

                "success": function (data) {
                    if(data == "ok") {
                        layer.alert("操作成功",{time: 1000 }, function () {
                            //layer.closeAll();
                            //load();
                        });
                        location.reload();
                    }
                }
            });
        }

        var editIndex = undefined;
        function endEditing(){
            if (editIndex == undefined){return true}
            if ($('#dg').datagrid('validateRow', editIndex)){
                $('#dg').datagrid('endEdit', editIndex);
                editIndex = undefined;
                return true;
            } else {
                return false;
            }
        }
        function onClickCell(index, field){
            if (editIndex != index){
                if (endEditing()){
                    $('#dg').datagrid('selectRow', index)
                        .datagrid('beginEdit', index);
                    var ed = $('#dg').datagrid('getEditor', {index:index,field:field});
                    if (ed){
                        ($(ed.target).data('textbox') ? $(ed.target).textbox('textbox') : $(ed.target)).focus();
                    }
                    editIndex = index;
                } else {
                    setTimeout(function(){
                        $('#dg').datagrid('selectRow', editIndex);
                    },0);
                }
            }
        }
        function onEndEdit(index, row){
            var ed = $(this).datagrid('getEditor', {
                index: index,
                field: 'userId'
            });
            //row.productname = $(ed.target).combobox('getText');
        }
        function append(){
            if (endEditing()){
                $('#dg').datagrid('appendRow',{id:null,goodsName:null,goodsNameEn:null,price:null,goodsUnit:null,quantity:null,totalPrice:null});
                editIndex = $('#dg').datagrid('getRows').length-1;
                $('#dg').datagrid('selectRow', editIndex)
                    .datagrid('beginEdit', editIndex);
                //setEditing(editIndex);
            }

        }

        //计算报价小计
        function setEditing(rowIndex){
            var editors = $('#dg').datagrid('getEditors', rowIndex);
            var priceEditor = editors[5];
            var amountEditor = editors[3];
            var costEditor = editors[6];
            priceEditor.target.bind("change", function(){
                calculate();
            });


            amountEditor.target.bind("change", function(){
                calculate();
            });

            function calculate(){
                var cost = (priceEditor.target.val())*(amountEditor.target.val());
                console.log(cost);
                costEditor.target.numberbox("setValue",cost);
            }
        }
        function removeit(){
            if (editIndex == undefined){return}
            $('#dg').datagrid('cancelEdit', editIndex)
                .datagrid('deleteRow', editIndex);
            editIndex = undefined;
        }
        function accept(){
            if (endEditing()){
                $('#dg').datagrid('acceptChanges');
            }
        }
        function reject(){
            $('#dg').datagrid('rejectChanges');
            editIndex = undefined;
        }
        function getChanges(){
            var deleted = $('#dg').datagrid('getChanges','deleted');
            accept();
            var rows = $('#dg').datagrid('getRows');

            return {"deleted":deleted,"insertOrUpdate":rows};
        }
    </script>




    <!--底部-->
    <div th:replace="fragments/footer :: footer"></div>
    <script src="../js/dateUtils.js"></script>
    <script src="../js/form/formoutbound/create.js"></script>

</div>
</body>
</html>