<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:shiro="http://www.pollix.at/thymeleaf/shiro" xmlns="http://www.w3.org/1999/html">
<head th:include="layout :: htmlhead_(
'/jquery-easyui-1.6.11/themes/default/easyui.css,'
+'/jquery-easyui-1.6.11/themes/icon.css,'
+'/jquery-easyui-1.6.11/demo.css'
,
'/jquery-easyui-1.6.11/jquery.min.js,'
+'/jquery-easyui-1.6.11/jquery.easyui.min.js'
)" th:with="title='用户管理'">
</head>



<body class="layui-layout-body">
<div class="layui-layout layui-layout-admin">
    <!--头-->
    <div th:replace="fragments/head :: header"></div>

    <div class="layui-body" style="margin: 1%">
        <fieldset class="layui-elem-field layui-field-title" style="margin-top: 20px;">
            <legend>售货合同</legend>
        </fieldset>

        <form class="layui-form" id="sellingContractForm">
            <input type="hidden" name="id"th:value="${model}?${model.id}:_" />
            <div class="layui-form-item">
                <label class="layui-form-label">合同编号</label>
                <div class="layui-input-block">
                    <input type="text" name="contractNo" lay-verify="title" th:value="${model}?${model.contractNo}:_" autocomplete="off" placeholder="请输入编号" class="layui-input">
                </div>
            </div>

            <div class="layui-form-item">
                <label class="layui-form-label">签约地点</label>
                <div class="layui-input-block">
                    <input type="text" id="signAddress" name="signAddress" lay-verify="title" th:value="${model}?${model.signAddress}:_" autocomplete="off" placeholder="" class="layui-input">
                </div>
            </div>

            <div class="layui-form-item">
                <label class="layui-form-label">签订时间</label>
                <div class="layui-input-block">
                    <input type="text" id="signDate" name="signDate" lay-verify="title" th:value="${model}?${model.signDate}:_" autocomplete="off" placeholder="" class="layui-input">
                </div>
            </div>

            <div class="layui-form-item">
                <label class="layui-form-label">卖方</label>
                <div class="layui-input-block">
                    <textarea type="text" name="seller" lay-verify="title" autocomplete="off" placeholder="请输入卖方" th:text="${model}?${model.seller}:_"  class="layui-textarea"> </textarea>
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label">买方</label>
                <div class="layui-input-block">
                    <textarea type="text" name="buyer" lay-verify="title" autocomplete="off" placeholder="请输入买方" th:text="${model}?${model.buyer}:_"  class="layui-textarea"> </textarea>
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label">包装</label>
                <div class="layui-input-block">
                    <input type="text" name="packing" lay-verify="title" autocomplete="off" placeholder="请输入包装" th:value="${model}?${model.packing}:_"  class="layui-input">
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label">装运唛头</label>
                <div class="layui-input-block">
                    <input type="text" name="packingMaiTou" lay-verify="title" autocomplete="off" placeholder="请输入装运唛头"  th:value="${model}?${model.packingMaiTou}:_" class="layui-input">
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label">装运口岸</label>
                <div class="layui-input-block">
                    <input type="text" name="packingKouAn" lay-verify="title" autocomplete="off" placeholder="请输入装运口岸" th:value="${model}?${model.packingKouAn}:_"  class="layui-input">
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label">目的口岸</label>
                <div class="layui-input-block">
                    <input type="text" name="sendingKouAn" lay-verify="title" autocomplete="off" placeholder="目的口岸" th:value="${model}?${model.sendingKouAn}:_"  class="layui-input">
                </div>
            </div>
            <div class="layui-form-item" th:if="${model}">
                <label class="layui-form-label">装运期限</label>
                <div class="layui-input-block">
                   <input type="checkbox" name="packingExpiredType" value="1" th:checked="${model.packingExpiredType}?${model.packingExpiredType.contains('1')}:false"  /> 卖方在收到本合同第八条规定的信用证后<input type="text" th:value="${model}?${model.packingExpiredDays}:_"  name="packingExpiredDays"/>天内装运
                </div>
                <div class="layui-input-block">
                    <input type="checkbox" name="packingExpiredType" value="2"  th:checked="${model.packingExpiredType}?${model.packingExpiredType.contains('2')}:false" />   <input type="text" name="packingExpiredDate" id="packingExpiredDate" th:value="${model}?${model.packingExpiredDate}:_"  placeholder="yyyy-MM-dd" autocomplete="off"/>前
                </div>
            </div>
            <div class="layui-form-item" th:unless="${model}">
                <label class="layui-form-label">装运期限</label>
                <div class="layui-input-block">
                    <input type="checkbox" name="packingExpiredType" value="1"  /> 卖方在收到本合同第八条规定的信用证后<input type="text" th:value="${model}?${model.packingExpiredDays}:_"  name="packingExpiredDays"/>天内装运
                </div>
                <div class="layui-input-block">
                    <input type="checkbox" name="packingExpiredType" value="2"  />   <input type="text" name="packingExpiredDate" id="packingExpiredDate" th:value="${model}?${model.packingExpiredDate}:_"  placeholder="yyyy-MM-dd" autocomplete="off"/>前
                </div>
            </div>

            <div class="layui-form-item">
                <label class="layui-form-label">保险</label>
                <div class="layui-input-block" th:if="${model} ">
                    <input type="checkbox" name="insuranceType" value="1"  th:checked="${model.insuranceType}?${model.insuranceType.contains('1')}:false" />由卖方按发票总值的110%按中国人民保险公司的保险条款保
                    <input type="checkbox" name="insuranceType" value="2" th:checked="${model.insuranceType}?${model.insuranceType.contains('2')}:false" />一切险
                    <input type="checkbox" name="insuranceType" value="3" th:checked="${model.insuranceType}?${model.insuranceType.contains('3')}:false" />陆运险
                    <input type="checkbox" name="insuranceType" value="4" th:checked="${model.insuranceType}?${model.insuranceType.contains('4')}:false" />由买方自理
                </div>
                <div class="layui-input-block" th:unless="${model}">
                <input type="checkbox" name="insuranceType" value="1" />由卖方按发票总值的110%按中国人民保险公司的保险条款保
                <input type="checkbox" name="insuranceType" value="2"  />一切险
                <input type="checkbox" name="insuranceType" value="3" />陆运险
                <input type="checkbox" name="insuranceType" value="4" />由买方自理
                </div>
            </div>
            <div class="layui-form-item" th:if="${model}">
                <label class="layui-form-label">付款条件</label>
                <div class="layui-input-block">
                    <input type="checkbox" name="payingType" value="1" th:checked="(${model.payingType} )?${model.payingType.contains('1')}:false"/>买方须于 <input type="text" id="payingExpiredDate" name="payingExpiredDate" th:value="${model}?${model.payingExpiredDate}:_"    placeholder="yyyy-MM-dd" autocomplete="off"/>以前开出卖方为受益人的，100%的，不可撤销的，允许转船及分批装运的     期信用证，并须注明在上述装运日期后15天内在中国议付有效
                </div>
                <div class="layui-input-block">
                    <input type="checkbox" name="payingType" value="2"  th:checked="(${model.payingType} )?${model.payingType.contains('2')}:false" />买方在信用证上注明可接受联合运输提单或其它货运单据
                </div>
                <div class="layui-input-block">
                    <input type="checkbox" name="payingType" value="3"  th:checked="(${model.payingType} )?${model.payingType.contains('3')}:false"/>T/T
                </div>
            </div>
            <div class="layui-form-item" th:unless="${model}">
                <label class="layui-form-label">付款条件</label>
                <div class="layui-input-block">
                    <input type="checkbox" name="payingType" value="1" />买方须于 <input type="text" id="payingExpiredDate" name="payingExpiredDate" th:value="${model}?${model.payingExpiredDate}:_"    placeholder="yyyy-MM-dd" autocomplete="off"/>以前开出卖方为受益人的，100%的，不可撤销的，允许转船及分批装运的     期信用证，并须注明在上述装运日期后15天内在中国议付有效
                </div>
                <div class="layui-input-block">
                    <input type="checkbox" name="payingType" value="2"  />买方在信用证上注明可接受联合运输提单或其它货运单据
                </div>
                <div class="layui-input-block">
                    <input type="checkbox" name="payingType" value="3" />T/T
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label">装运单据</label>
                <div class="layui-input-block" th:if="${model}">
                    <input type="checkbox" name="packingForms" value="1" th:checked="${model.packingForms}?${model.packingForms.contains('1')}:false"/>提单或其它货运单据
                    <input type="checkbox" name="packingForms"  value="2" th:checked="${model.packingForms}?${model.packingForms.contains('2')}:false" />发票
                    <input type="checkbox" name="packingForms"  value="3" th:checked="${model.packingForms}?${model.packingForms.contains('3')}:false"/>装箱单
                    <input type="checkbox" name="packingForms"  value="4"  th:checked="${model.packingForms}?${model.packingForms.contains('4')}:false"/>保险单
                    <input type="checkbox" name="packingForms"  value="5"  th:checked="${model.packingForms}?${model.packingForms.contains('5')}:false"/>由制造厂检验部门出具的品质/数量证明
                </div>
                <div class="layui-input-block" th:unless="${model}">
                    <input type="checkbox" name="packingForms" value="1"/>提单或其它货运单据
                    <input type="checkbox" name="packingForms"  value="2" />发票
                    <input type="checkbox" name="packingForms"  value="3" />装箱单
                    <input type="checkbox" name="packingForms"  value="4" />保险单
                    <input type="checkbox" name="packingForms"  value="5" />由制造厂检验部门出具的品质/数量证明
                </div>

            </div>
            <div class="layui-form-item">
                <div class="layui-input-block">
                    <div style="margin:20px 0;">货物明细</div>

                    <table id="dg" class="easyui-datagrid" title="货物明细" style="width:700px;height:auto"
                           data-options="
                    iconCls: 'icon-edit',
                    singleSelect: true,
                    toolbar: '#tb',
                    url: '/sellingcontract/list2',
                    method: 'post',
                    onClickCell: onClickCell,
                    onEndEdit: onEndEdit,
                    showFooter:true
                ">
                        <thead>
                        <tr>
                            <th data-options="field:'id',width:80,editor:'textbox',hidden:true">id</th>
                            <th data-options="field:'goodsName',width:100,editor:'textbox'">名称</th>
                           <th data-options="field:'goodsNameEn',width:100,editor:'textbox'">英文名称</th>
                           <th data-options="field:'quantity',width:100,editor:{type:'numberbox'}">数量</th>
                           <th data-options="field:'goodsUnit',width:100,editor:'textbox'">单位</th>
                           <th data-options="field:'price',width:100,editor:{type:'numberbox',options:{precision:2}}">价格</th>
                           <th data-options="field:'priceUnit',width:100,editor:'textbox'">价格单位</th>
                           <th data-options="field:'totalPrice',width:100,editor:{type:'numberbox',options:{precision:2}}">总价</th>
                        </tr>
                        </thead>
                    </table>

                    <div id="tb" style="height:auto">
                        <a href="javascript:void(0)" class="easyui-linkbutton" data-options="iconCls:'icon-add',plain:true" onclick="append()">增加</a>
                        <a href="javascript:void(0)" class="easyui-linkbutton" data-options="iconCls:'icon-remove',plain:true" onclick="removeit()">删除</a>
                        <a href="javascript:void(0)" class="easyui-linkbutton" data-options="iconCls:'icon-save',plain:true" onclick="accept()">接受</a>
                        <a href="javascript:void(0)" class="easyui-linkbutton" data-options="iconCls:'icon-undo',plain:true" onclick="reject()">拒绝</a>
                        <a href="javascript:void(0)" class="easyui-linkbutton" data-options="iconCls:'icon-search',plain:true" onclick="getChanges()">获取变更记录</a>
                    </div>
                </div>
            </div>
            <div class="layui-form-item">
                <div class="layui-input-block">
                    <button class="layui-btn" lay-submit="" lay-filter="saveSellingContract">立即提交</button>
                </div>
            </div>
        </form>
    </div>




    <script type="text/javascript">
        $(function () {
            $("body").delegate(".datagrid-cell-c1-quantity .textbox-text","keyup",function() {
                //alert($(this).val());
                var quantity = $(this).val();
                quantity = quantity == '' ? 0: quantity;
                var price = $(this).closest("tr.datagrid-row").find(".datagrid-cell-c1-price .textbox-text").val();
                price = price == '' ? 0: price;
                $(this).closest("tr.datagrid-row").find(".datagrid-cell-c1-totalPrice .textbox-text").val(toFixed(floatObj.multiply(price,quantity),2));
                $(this).closest("tr.datagrid-row").find(".datagrid-cell-c1-totalPrice .textbox-value").val(toFixed(floatObj.multiply(price,quantity),2));
                //当行金额汇总变化时时间处理
                onSubTotalChanged();
            });

            function onSubTotalChanged() {
                var totalPrice = getTotalPrice();
                $("div.datagrid-footer table.datagrid-ftable div.datagrid-cell-c1-totalPrice")
                    .each(function (n,v) {
                        if(n == 0) {
                            $(this).html(totalPrice);
                        } else if(n == 1) {
                            $(this).html(digitUppercase(totalPrice));
                        }
                    });
            }

            function getTotalPrice() {
                var total = 0;
                $("div.datagrid-body div.datagrid-cell-c1-totalPrice").each(function (index,ele) {

                    if($(this).hasClass("datagrid-editable")) {
                        //total += parseFloat($(this).find(".textbox-value").val());
                        total = floatObj.add(total,parseFloat($(this).find(".textbox-value").val()));
                    } else {
                        //total += parseFloat($(this).html());
                        total = floatObj.add(total,parseFloat($(this).html()));
                    }
                });

                return toFixed(total,2);
            }


            $("body").delegate(".datagrid-cell-c1-price .textbox-text","keyup",function() {
                //alert($(this).val());
                var price = $(this).val();
                price = price == '' ? 0: price;
                var quantity = $(this).closest("tr.datagrid-row").find(".datagrid-cell-c1-quantity .textbox-text").val();
                quantity = quantity == '' ? 0: quantity;
                $(this).closest("tr.datagrid-row").find(".datagrid-cell-c1-totalPrice .textbox-text").val(toFixed(floatObj.multiply(price,quantity),2));
                $(this).closest("tr.datagrid-row").find(".datagrid-cell-c1-totalPrice .textbox-value").val(toFixed(floatObj.multiply(price,quantity),2));

                onSubTotalChanged();

            });

            $('#dg').datagrid('load', {
                id: '[[${param.id}]]',
            });

        })



        var editIndex = undefined;
        function endEditing(){
            if (editIndex == undefined){return true}
            if ($('#dg').datagrid('validateRow', editIndex)){
                $('#dg').datagrid('endEdit', editIndex);
                editIndex = undefined;
                return true;
            } else {
                return false;
            }
        }
        function onClickCell(index, field){
            if (editIndex != index){
                if (endEditing()){
                    $('#dg').datagrid('selectRow', index)
                        .datagrid('beginEdit', index);
                    var ed = $('#dg').datagrid('getEditor', {index:index,field:field});
                    if (ed){
                        ($(ed.target).data('textbox') ? $(ed.target).textbox('textbox') : $(ed.target)).focus();
                    }
                    editIndex = index;
                } else {
                    setTimeout(function(){
                        $('#dg').datagrid('selectRow', editIndex);
                    },0);
                }
            }
        }
        function onEndEdit(index, row){
            var ed = $(this).datagrid('getEditor', {
                index: index,
                field: 'userId'
            });
            //row.productname = $(ed.target).combobox('getText');
        }
        function append(){
            if (endEditing()){
                $('#dg').datagrid('appendRow',{id:null,goodsName:null,goodsNameEn:null,price:null,goodsUnit:null,quantity:null,totalPrice:null});
                editIndex = $('#dg').datagrid('getRows').length-1;
                $('#dg').datagrid('selectRow', editIndex)
                    .datagrid('beginEdit', editIndex);
                setEditing(editIndex);
            }

        }

        //计算报价小计
        function setEditing(rowIndex){
            var editors = $('#dg').datagrid('getEditors', rowIndex);
            var priceEditor = editors[5];
            var amountEditor = editors[3];
            var costEditor = editors[6];
            priceEditor.target.bind("change", function(){
                calculate();
            });


            amountEditor.target.bind("change", function(){
                calculate();
            });

            function calculate(){
                var cost = (priceEditor.target.val())*(amountEditor.target.val());
                console.log(cost);
                costEditor.target.numberbox("setValue",cost);
            }
        }
        function removeit(){
            if (editIndex == undefined){return}
            $('#dg').datagrid('cancelEdit', editIndex)
                .datagrid('deleteRow', editIndex);
            editIndex = undefined;
        }
        function accept(){
            if (endEditing()){
                $('#dg').datagrid('acceptChanges');
            }
        }
        function reject(){
            $('#dg').datagrid('rejectChanges');
            editIndex = undefined;
        }
        function getChanges(){
            var deleted = $('#dg').datagrid('getChanges','deleted');
            accept();
            var rows = $('#dg').datagrid('getRows');

            return {"deleted":deleted,"insertOrUpdate":rows};
        }
    </script>




    <!--底部-->
    <div th:replace="fragments/footer :: footer"></div>
    <script src="../js/dateUtils.js"></script>
    <script src="../js/form/sellingcontract/create.js"></script>

</div>
</body>
</html>